<% cache @lists do %>
    <section id="lists-intro">
        <div class="heading" data-bg="<%= image_path 'card-heading/2.jpg' -%>">
            <h1>Heathen Link Lists</h1>
        </div>
        <div class="inner">
            <p class="big">The Hearth folk maintain these lists of interest for Heathens, to encourage
            active communication and support for Heathen artists and those interested in their work.
            This is an extension of our admiration of, and reliance on, Skaldcraft and handicraft as
            some of Heathenry's most important forms of expression and dissemination.</p>

            <p><%= image_tag 'lists/accepts_custom.png' %> When browsing lists, entries marked with
            a star icon in the upper right corner accept some form of commissioned or custom work.
            Please check their own websites for more information.</p>

            <hr>

            <p>We currently have these lists available:</p>
            <ul>
                <% @lists.each do |list| %>
                    <li><%= link_to list.name, list_path(list.tag) %>: <%= list.short_description %></li>
                <% end %>
            </ul>
        </div>
    </section>

    <%= render 'lists/getting_listed' %>
<% end %>