<% cache @list do %>
    <aside id="sidebar-menu">
        <%= link_to 'Introduction', '#lists-section-intro', class: 'active' %>
        <div class="gap"></div>

        <div class="title">Categories</div>
        <% @list.categories.each do |category| %>
            <% if category.listings.size != 0 %>
                <%= link_to category.name, "#lists-section-#{ category.name.parameterize }" %>
            <% end %>
        <% end %>
    </aside>

    <section id="lists-section-intro">
        <div class="heading" data-bg="<%= image_path 'card-heading/2.jpg' -%>">
            <h1><%= @list.name %></h1>
        </div>
        <div class="inner">
            <p class="big"><%= raw @list.description %></p>

            <p><%= image_tag 'lists/accepts_custom.png' %> When browsing lists, entries marked with
            a star icon in the upper right corner accept some form of commissioned or custom work.
            Please check their own websites for more information.</p>
        </div>
    </section>
<% end %>

<% content_for :after_main do %>
    <% cache @list do %>
        <div id="lists-storage">
            <% @list.categories.each do |category| %>
                <% if category.listings.size != 0 %>
                    <section id="lists-section-<%= category.name.parameterize %>" class="lists-section">
                        <%= render partial: 'lists/listing', collection: category.listings %>
                    </section>
                <% end %>
            <% end %>
        </div>
    <% end %>
<% end %>