<%= render 'admin/menu' %>
<section id="admin-lists-menu" class="menu">
    <span class="title">Lists</span>
    <%= link_to image_tag('admin/icons/actions/index-black-sm.png'), admin_lists_path %>
    <%= link_to image_tag('admin/icons/actions/create-black-sm.png'), new_admin_list_path %>

    <% unless @list.nil? || @list.id.nil? %>
        <span class="title"><small>List<br>&lsquo;<%= @list.name %>&rsquo;</small></span>
        <%= link_to image_tag('admin/icons/actions/show-black-sm.png'), admin_list_path(@list) %>
        <%= link_to image_tag('admin/icons/actions/edit-black-sm.png'), edit_admin_list_path(@list) %>
        <%= link_to image_tag('admin/icons/actions/destroy-black-sm.png'), '#', class: 'icon' %>
    <% end %>

    <% unless @category.nil? || @category.id.nil? %>
        <span class="title"><small>Category<br>&lsquo;<%= @category.name %>&rsquo;</small></span>
        <%= link_to image_tag('admin/icons/actions/show-black-sm.png'), admin_list_category_path(@category) %>
        <%= link_to image_tag('admin/icons/actions/edit-black-sm.png'), edit_admin_list_category_path(@category) %>
        <%= link_to image_tag('admin/icons/actions/destroy-black-sm.png'), '#', class: 'icon' %>
    <% end %>
</section>