<%= render 'admin/lists/menu' %>
<section>
    <h1><%= image_tag 'admin/icons/actions/edit-black.png' %> Edit List</h1>

    <%= form_for @list, url: {action: 'create'} do |f| %>
        <%= render 'admin/lists/form', form: f %>
        <div class="actions">
            <%= f.submit 'Update List' %>
        </div>
    <% end %>
</section>