<%= render 'admin/lists/menu', list_active: :index %>
<section>
    <h1><%= image_tag 'admin/icons/list-black.png' %> Index of Lists</h1>

    <table>
        <thead>
            <th>Name</th>
            <th>Tag</th>
            <th>Description</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <% @lists.each do |list| %>
                <tr>
                    <td class="name"><%= list.name %></td>
                    <td><%= list.tag %></td>
                    <td><%= list.description %></td>
                    <td class="actions">
                        <%= link_to image_tag('admin/icons/actions/show-black-sm.png'), admin_list_path(list) %>
                        <%= link_to image_tag('admin/icons/actions/edit-black-sm.png'), edit_admin_list_path(list) %>
                        <%= link_to image_tag('admin/icons/actions/destroy-black-sm.png'), '#' %>
                    </td>
                </tr>
            <% end %>
            <tr>
                <td></td><td></td><td></td>
                <td class="actions">
                    <%= link_to new_admin_list_path do %>
                        <%= image_tag('admin/icons/actions/create-black.png') %> New List
                    <% end %>
                </td>
            </tr>
        </tbody>
    </table>
</section>
