<%= render 'admin/lists/menu', list_active: :new %>
<section>
    <h1><%= icon_tag 'actions/create-black' %> New List</h1>

    <%= form_for @list, url: {action: 'create'} do |f| %>
        <%= render 'admin/lists/form', form: f, list: @list %>
        <div class="actions">
            <%= f.submit 'Create List' %>
            <input type="reset" value="Reset Form">
            <%= link_to 'Cancel to Index', admin_lists_path %>
        </div>
    <% end %>
</section>