<%= render 'admin/lists/menu', list_active: :new %>
<section>
    <h1><%= image_tag 'admin/icons/actions/create-black.png' %> New List</h1>

    <%= form_for @list, url: {action: 'create'} do |f| %>
        <%= render 'admin/lists/form', form: f, list: @list %>
        <div class="actions">
            <%= f.submit 'Create List' %>
        </div>
    <% end %>
</section>