<%= render 'admin/lists/menu', list: @list, list_active: :show %>
<section>
    <h1><%= icon_tag 'actions/show-black' %> List: <%= @list.name %></h1>
    <p><%= @list.short_description %></p>
    <p class="big"><%= raw @list.description %></p>

    <h2><%= icon_tag 'actions/index-black' %> Categories</h2>
    <p>This list currently has <%= @list.categories.size %> categories.</p>
    <table>
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Size</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <% @list.categories.order(:name).each do |category| %>
                <tr>
                    <td class="name"><%= category.name %></td>
                    <td><%= category.description %></td>
                    <td><%= category.listings.size %></td>
                    <td class="actions">
                        <%= link_to sm_icon_tag('actions/show-black'), admin_list_category_path(category) %>
                        <%= link_to sm_icon_tag('actions/edit-black'), edit_admin_list_category_path(category) %>
                        <%= link_to_destroy sm_icon_tag('actions/destroy-black'), admin_list_category_path(category) %>
                    </td>
                </tr>
            <% end %>
            <tr>
                <td></td><td></td><td></td>
                <td class="actions">
                    <%= link_to new_admin_list_category_path(@list) do %>
                        <%= icon_tag('actions/create-black') %> New Category
                    <% end %>
                </td>
            </tr>
        </tbody>
    </table>
</section>
