<% cache 'heathenry-glossary' do -%>
    <%= render 'static/essentials/menu' %>

    <section>
        <div class="heading" data-bg="<%= image_path 'card-heading/2.jpg' -%>">
            <h1>Glossary</h1>
        </div>
        <div class="inner">
            <p class="big">Heathens use a lot of words that aren't part of a common modern English
            vocabulary. Some of them are from Old Norse, some from Old Saxon/English, occasionally
            Gaelic, and other sources. Sometimes they are simply archaic, or borrowings from other
            modern languages. In all cases, they are used because they more precisely relate heathen
            concepts which modern English makes ambiguous or awkward.</p>
        </div>
    </section>

    <%= glossary_section 'A' do %>
        <%= glossary_word 'Æsgarð; Asgard', 'æsgarð' do %>
            <p>One of the worlds of <%= glossary_ref 'Yggdrasil' %> and the home of the
            <%= glossary_ref 'Æsir' %>. Known locations with Æsgarð include:</p>

            <ul>
                <li>Breidablik: former home of the god Baldur</li>
                <li>Gladsheim</li>
                <li>Himinbjorg</li>
                <li>Iðavöll: the &ldquo;splendor-plain&rdquo;, a frequent meeting-place</li>
                <li>Noatun: home of the god Njörð</li>
                <li>Urðarbrunn</li>
                <li>Valaskjálf</li>
                <li>Valhalla</li>
                <li>Vingölf</li>
            </ul>
        <% end %>

        <%= glossary_word 'Æsir / Ásynjur', 'æsir' do %>
            <p>One of two known tribes of gods (see also: <%= glossary_ref 'Vanir' %>), and the one
            with which heathens are usually most closely aligned. They dwell in a massive fortified
            city within <%= glossary_ref 'Æsgarð' %>, with Óðinn as their chieftain. The word
            Ásynjar refers collectively to the goddesses of this tribe, in particular.</p>

            <p>Learn more about the gods at:
            <%= link_to 'Gods & Goddesses', heathenry_path(:essentials, :gods) -%>.</p>
        <% end %>

        <%= glossary_word 'Álf, Álfar', 'álf' do %>
            <p>The Álfar (singular Álf) are the denizens of Álfheim. Sometimes called the Ljosálfar
            (&ldquo;light-elves&rdquo;).</p>
        <% end %>

        <%= glossary_word 'Álfheim' do %>
            <p>One of the worlds of <%= glossary_ref 'Yggdrasil' %> and the home of the
            <%= glossary_ref 'Álfar', 'álf' %>. The god Yngvi-Frey rules Álfheim, which was given to
            him as a &ldquo;tooth-gift&rdquo;. As such, he is sometimes counted among the Álfar, and
            much Álf-related symbolism is attributed to him.</p>
        <% end %>

        <%= glossary_word 'Ás / Ásynja' do %>
            <p>A god/goddess. One of the <%= glossary_ref 'Æsir' %>.</p>
        <% end %>
    <% end %>

    <%= glossary_section 'B' do %>
        <%= glossary_word 'Blót, Blótar', 'blót' do %>
            <p>A ritual sacrifice, that is, an exchange of gifts between human beings and the Holy
            Powers. Blót is typically offered to gods and ancestors.</p>
        <% end %>
    <% end %>

    <%= glossary_section 'E' do %>
        <%= glossary_word 'Eldjötnar' do %>
        <% end %>
    <% end %>

    <%= glossary_section 'H' do %>
        <%= glossary_word 'Helheim' do %>
            <p>One of the worlds of <%= glossary_ref 'Yggdrasil' %>, and common home of the dead. It
            is ruled over, and named for, the Lady Hel. It is also the current dwelling place of the
            god Baldur.</p>
        <% end %>

        <%= glossary_word 'Hlaut' do %>
            <p></p>
        <% end %>

        <%= glossary_word 'Hlautbolle' do %>
            <p></p>
        <% end %>

        <%= glossary_word 'Hlauttein' do %>
            <p></p>
        <% end %>
    <% end %>

    <%= glossary_section 'J' do %>
        <%= glossary_word 'Jötunheim' do %>
            <p>One of the worlds of <%= glossary_ref 'Yggdrasil' %>, and common home of the
            <%= glossary_ref 'Jötnar', 'jötunn' %>. Known locations within Jötunheim include:</p>

            <ul>
                <li>Gastropnir: the dwelling of Menglöð</li>
                <li><%= glossary_ref 'Mímisbrunn' %></li>
                <li>Þrymheim: the dwelling of Þjazi</li>
                <li>Útgarðar: the main stronghold of the <%= glossary_ref 'Jötnar', 'jötunn' %></li>
                <li>Vimur River: where the giantess Gjálp attempted to drown the god Þor</li>
            </ul>
        <% end %>

        <%= glossary_word 'Jötunn, Jötnar; Jotunn or Ettin', 'jötunn' do %>
            <p>The &ldquo;giants&rdquo; of mythology, similar in many respects to the Titans of the
            Hellenic mythos. Primordial beings, many are associated with natural forces and various
            major phenomena. Their home is generally in <%= glossary_ref 'Jötunheim' %>.</p>
        <% end %>
    <% end %>

    <%= glossary_section 'L' do %>
        <%= glossary_word 'Landvættir; Landwights', 'landvættir' do %>
            <p>Nature spirits. The animistic spiritual essence of a place, a major feature, or a
            population of living creatures living in a particular place, among other things. May be
            conscious, semi-conscious, or unconscious.</p>
        <% end %>
    <% end %>

    <%= glossary_section 'M' do %>
        <%= glossary_word 'Miðgarð; Midgard', 'miðgarð' do %>
            <p>One of the worlds of <%= glossary_ref 'Yggdrasil' %>, and the home of human beings.
            It was created by the gods Óðinn, Vili, and Vé from the matter of the slain
            <%= glossary_ref 'Ymir' %>.</p>
        <% end %>

        <%= glossary_word 'Mímisbrunn' do %>
            <p></p>
        <% end %>

        <%= glossary_word 'Múspellsheim; Muspelheim', 'múspellsheim' do %>
            <p></p>
        <% end %>
    <% end %>

    <%= glossary_section 'N' do %>
        <%= glossary_word 'Niðavellir' do %>
            <p></p>
        <% end %>

        <%= glossary_word 'Niflheim' do %>
            <p></p>
        <% end %>
    <% end %>

    <%= glossary_section 'T' do %>
        <%= glossary_word 'Troth' do %>
            <p>Loyalty. Most often used to refer to the loyalty between mankind and the gods, or
            that found within a community. In some cases, it is used in much the same way people of
            other beliefs use the phrase &ldquo;the faith&rdquo; or &ldquo;our faith&rdquo; as a
            reference to a belief system as an institution (eg, &ldquo;Our Troth&rdquo;).</p>
        <% end %>
    <% end %>

    <%= glossary_section 'V' do %>
        <%= glossary_word 'Vanaheim' do %>
            <p>One of the worlds of <%= glossary_ref 'Yggdrasil' %> and the home of the
            <%= glossary_ref 'Vanir' %>.</p>
        <% end %>

        <%= glossary_word 'Vanir; Wanes', 'vanir' do %>
            <p>One of two known tribes of gods (see also: <%= glossary_ref 'Æsir' %>). They dwell
            primarily in <%= glossary_ref 'Vanaheim' %>. They are often renowned in the lore for
            their wisdom.</p>

            <p>Learn more about the gods at:
            <%= link_to 'Gods & Goddesses', heathenry_path(:essentials, :gods) -%>.</p>
        <% end %>

        <%= glossary_word 'Vættir; Wights', 'vættir' do %>
            <p>Spiritual beings. That is, any beings posessed of spiritual essence or soul &mdash;
            and, incidentally, mind of some form, whether conscious or not. This includes human
            beings, <%= glossary_ref 'landvættir' %>, <%= glossary_ref 'álfar', 'álf' %>, the
            <%= glossary_ref 'Æsir' %> and <%= glossary_ref 'Vanir' %>,
            <%= glossary_ref 'jötnar', 'jötunn' %>, and various other entities.</p>
        <% end %>
    <% end %>

    <%= glossary_section 'Y' do %>
        <%= glossary_word 'Yggdrasil' do %>
            <p>The World Tree, upon which nine worlds are known to be fixed, including the world in
            which we live, <%= glossary_ref 'Miðgarð' %>. This &ldquo;tree&rdquo; is one of the
            oldest beings, having sprouted in the firmament which formed at the meeting of
            Muspellheim and Niflheim in the beginning of the multiverse.</p>

            <p>The name Yggdrasil means &ldquo;Ygg&rsquo;s Steed,&rdquo; where Ygg is another name
            for the god Óðinn, who is said in our lore to have hung himself: <q>&hellip; on the tree
            that none may ever know what root beneath it runs. <span><cite>Hávamál</cite>, 139.
            Trans. Henry A. Bellows.</span></q> In this bizarre act of literal self-sacrifice (of
            himself, to himself) Óðinn won complete knowledge of the runes, as well as experiencing
            a significant transformation in his own nature.</p>

            <p>The nine known worlds of Yggdrasil are:</p>
            <ul>
                <li><%= glossary_ref 'Æsgarð' %></li>
                <li><%= glossary_ref 'Álfheim' %></li>
                <li><%= glossary_ref 'Helheim' %></li>
                <li><%= glossary_ref 'Miðgarð' %></li>
                <li><%= glossary_ref 'Múspellsheim' %></li>
                <li><%= glossary_ref 'Niflheim' %></li>
                <li><%= glossary_ref 'Niðavellir' %></li>
                <li><%= glossary_ref 'Jötunheim' %></li>
                <li><%= glossary_ref 'Vanaheim' %></li>
            </ul>
        <% end %>

        <%= glossary_word 'Ymir' do %>
            <p></p>
        <% end %>
    <% end %>
<% end -%>
