<div class="admin-listing-card">
    <div class="association">
        <% if association == :entity %>
            <%= link_to listing.entity.name, admin_list_entity_path(listing.entity) %>
            <%= link_to_destroy image_tag('admin/icons/actions/destroy-white-sm.png'), admin_list_category_listing_path(listing.category, listing), class: 'action-link' %>
            <%= link_to image_tag('admin/icons/actions/edit-white-sm.png'), edit_admin_list_category_listing_path(listing.category, listing), class: 'action-link' %>
        <% elsif association == :category %>
            <%= listing.category.list.tag %>: <%= link_to listing.category.name, admin_list_category_path(listing.category) %>
            <%= link_to_destroy image_tag('admin/icons/actions/destroy-white-sm.png'), admin_list_entity_listing_path(listing.entity, listing), class: 'action-link' %>
            <%= link_to image_tag('admin/icons/actions/edit-white-sm.png'), edit_admin_list_entity_listing_path(listing.entity, listing), class: 'action-link' %>
        <% end %>
    </div>
    <div class="card">
        <% unless listing.image.nil? %><img src="<%= listing.image.url %>"><% end %>
        <div class="name"><%= listing.entity.name %></div>
        <% listing.entity.urls.split(/\n/).each do |url| %>
            <%= link_to raw(ListEntity::Utils.display_text_for_url(url)), url %>
        <% end %>
        <p><%= listing.entity.description %></p>
    </div>
</div>