<div class="two-fields">
    <div class="field">
        <%= form.label :entity %>
        <div class="select-wrapper"><%= form.select :entity_id, [['', nil]] + ListEntity.all.map {|entity| [entity.name, entity.id] } %></div>
        <%= form.error_msg :entity %>
    </div>
    <div class="field">
        <%= form.label :category %>
        <% if listing.category_id? %>
            <% categories = ListCategory.where(list: listing.category.list) %>
        <% else %>
            <% categories = ListCategory.all %>
        <% end %>
        <% options = categories.map {|category| ["#{category.list.tag}: #{category.name}", category.id] } %>
        <div class="select-wrapper"><%= form.select :category_id, [['', nil]] + options %></div>
        <%= form.error_msg :category %>
    </div>
</div>
<div class="two-fields">
    <div class="field">
        <%= form.label :image %>
        <%= form.file_field :image %>
        <%= form.error_msg :image %>
    </div>
    <div class="field">
        <label>Current image</label>
        <div class="listing-image">
            <%= image_tag listing.image.options[:default_url] %>
            <% unless listing.image.nil? %><%= image_tag listing.image.url %><% end %>
        </div>
    </div>
</div>