<%= render 'admin/listings/menu', listing: @listing, listing_active: :edit %>
<section>
    <h1><%= icon_tag 'actions/edit-black' %> Edit Listing</h1>

    <%= form_for @listing, url: {action: 'update'} do |f| %>
        <%= render 'admin/listings/form', form: f, listing: @listing %>
        <div class="actions">
            <%= f.submit 'Update Listing' %>
            <input type="reset" value="Reset Form">
            <%= link_to 'Cancel to Category', admin_list_category_path(@listing.category) %>
            <%= link_to 'Cancel to Entity', admin_list_entity_path(@listing.entity) %>
        </div>
    <% end %>
</section>