<%= render 'admin/listings/menu', listing: @listing, listing_active: :new %>
<section>
    <h1><%= icon_tag 'actions/create-black' %> New Listing</h1>

    <%= form_for @listing, url: {action: 'create'} do |f| %>
        <%= render 'admin/listings/form', form: f, listing: @listing %>
        <div class="actions">
            <%= f.submit 'Create Listing' %>
            <input type="reset" value="Reset Form">
            <% unless @listing.category.nil? %>
                <%= link_to 'Cancel to Category', admin_list_category_path(@listing.category) %>
            <% end %>
            <% unless @listing.entity.nil? %>
                <%= link_to 'Cancel to Entity', admin_list_entity_path(@listing.entity) %>
            <% end %>
        </div>
    <% end %>
</section>