<% cache "tumblr/#{ post['timestamp'] }-#{ post['id'] }" do -%>
    <article>
        <div class="heading">
            <h1><%= post['title'] -%></h1>
            <div class="news-post-date"><%= post['date'].split[0] -%></div>
        </div>
        <% unless post['body_abstract'].nil? -%>
            <div class="inner collapsable">
                <div class="collapsable-collapsed">
                    <%= raw post['body_abstract'] -%>
                    <div class="collapsable-action">Show More<%= image_tag 'expand.png' -%></div>
                </div>
                <div class="collapsable-expanded">
                    <%= raw post['body'] -%>
                    <div class="collapsable-action">Show Less<%= image_tag 'collapse.png' -%></div>
                </div>
            </div>
        <% else -%>
            <div class="inner">
                <%= raw post['body'] -%>
            </div>
        <% end -%>
    </article>
<% end -%>
