<section>
    <div id="news-intro">
        <div class="heading" data-bg="<%= image_path 'card-heading/4.jpg' -%>">
            <h1>News &amp; Updates</h1>
        </div>
        <div class="inner">
            <p class="big">Check here from time to time for announcements, new articles from members,
            and other updates. You may also follow us at
            <%= link_to 'Tumblr', SocialMedia::TUMBLR_URL -%> and/or 
            <%= link_to 'Twitter', SocialMedia::TWITTER_URL -%>. Currently showing these posts:</p>

            <ul>
                <% @posts.each do |post| -%>
                    <li><%= smooth_link_to post['title'], "#article-#{ post['id'] }" -%></li>
                <% end -%>
            </ul>
        </div>
    </div>
</section>

<section id="news-articles">
    <% @posts.each do |post| -%>
        <%= render 'index_post', post: post -%>
    <% end -%>
</section>

<section>
    <div id="news-tumblr-link" class="duo-link">
        <div class="inner">
            <p class="big">
                <%= link_to image_tag('social-media/tumblr.png'), SocialMedia::TUMBLR_URL -%>
                See more updates on <%= link_to 'Tumblr', SocialMedia::TUMBLR_URL -%>
            </p>
            <p class="big">
                Or follow us on <%= link_to 'Twitter', SocialMedia::TWITTER_URL -%>
                <%= link_to image_tag('social-media/twitter.png'), SocialMedia::TWITTER_URL -%>
            </p>
        </div>
    </div>
</section>