<section id="home-intro">
    <div id="home-slider">
        <% (1 .. @slider_max).each do |idx| -%>
            <%= image_tag "page/home/slider/#{idx}.jpg" -%>
        <% end -%>
        <h1>Proud. Heathen. Kentuckian.</h1>
    </div>
    <div class="inner">
        <p class="big">Fincastali Hearth is a Heathen tribe in western Kentucky, proud of our
        heritage old and new, and actively engaged in the celebration of our Holy Troth. We meet
        regularly for study, worship, fellowship, and other activities. More information on
        Fincastali is available in the
        <%= smooth_link_to 'About', '#home-about' -%> section of this page; and you can find some
        additional basic information about our culture and beliefs in the
        <%= link_to 'Heathenry', heathenry_path -%> pages.</p>
    </div>
</section>

<section id="home-about">
    <div class="heading" data-bg="<%= image_path 'card-heading/3.jpg' -%>">
        <h1>About Fincastali Hearth</h1>
    </div>
    <div class="inner">
        <p>Fincastali Hearth is a kindred of individuals united by our practice of modern Heathenry,
        an ongoing revival of the indigenous pre-Christian culture and spirituality of northern
        Europe.  Officially established in 2007, the Hearth has seen steady growth and boasted many
        accomplishments.  We are unaffiliated, as a group, with any national or international
        Heathen organizations, although members are free to associate with, and participate in, such
        institutions as they deem fit.</p>

        <h2>What is Heathenry?</h2>

        <p>Heathenry is an expression of the indigenous pre-Christian culture and spirituality of
        northern Europe, or more precisely, that of the Germano-Celtic peoples of those lands.
        Modern Heathens seek to revive and restore the core values and beliefs of our ancestors, and
        bring them up to date with the present age. We are polytheistic and animistic, offering
        worship to our ancestors, the landvættir, and of course the gods. We primarily identify the
        gods as the Æsir and Vanir: Odin, Frigga, Thor, Yngvi-Frey, Freyja, Heimdall, Ullr, and many
        others.</p>

        <p>Like our forebears, modern Heathens are a diverse people, with minor differences in our
        understanding and implementation of our folkways. What is presented on this site is the
        Fincastali folkway, and may or may not be entirely consistant with those presented and
        practiced by other groups and organizations.</p>

        <h2>What do Heathens do?</h2>

        <p>We worship the Holy Powers through sacred rites. The most fundamental of these is the
        simple yet profound rite of Symbel: a formal toasting ritual. While easy to learn, and
        effortless to perform, it is a very powerful experience of Wyrd. Another major rite is the
        Blót, wherein sacrifices are given in honor of ancestors, gods, or other spirits. Blótar may
        be very simple and quick, or spectacularly elaborate.</p>

        <p>We study the extant lore, the archaeological evidence, and the experiences of other
        Heathens both local and abroad. Having lost much knowledge of our ancestral folkways in the
        centuries since its historical prominence, we work endlessly at rediscovering what had been
        forgotten. We discuss our own insights regularly, participating in a continuous dialog and
        exchange, in the hopes of further refining our understanding and integration of this
        worldview.</p>

        <p>We engage our community, as any active citizen should. We care for our homes, visit with
        family and friends, work jobs, send children to school, and do our shopping. We give some
        spare time, and other resources, to charitable organizations. We take up causes; and we lose
        ourselves in music or movies at the end of a long day. We live our lives much like anyone
        else; and we do so with the invigoration that comes from being passionate about life, and
        the certainty that comes with knowing the wisdom our ancestors left behind to guide their
        descendants.</p>

        <h2>What are these words?</h2>

        <p>It is likely that some of the words and concepts mentioned here are new to you, or at
        least our particular usage. These and other questions are answered in the
        <%= link_to 'Heathenry', heathenry_path -%> pages (which includes a
        <%= link_to 'glossary', heathenry_path(:essentials, :glossary) -%>). Be sure to head there to
        get a more complete picture of our beliefs and practices.</p>
    </div>
</section>