<%= form.hidden_field :list_id %>
<div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: 'Display name' %>
    <%= form.error_msg :name %>
</div>
<div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, placeholder: 'Describe the new category for future reference' %>
    <%= form.error_msg :description %>
</div>
