<%= render 'admin/lists/menu', list: @category.list, category: @category, category_active: :edit %>
<section>
    <h1><%= image_tag 'admin/icons/actions/edit-black.png' %> Edit Category</h1>

    <%= form_for @category, url: {action: 'update'} do |f| %>
        <%= render 'admin/list_categories/form', form: f, category: @category %>
        <div class="actions">
            <%= f.submit 'Update Category' %>
        </div>
    <% end %>
</section>
