<%= render 'admin/lists/menu' %>
<section>
    <h1><%= image_tag 'admin/icons/actions/create-black.png' %> New Category</h1>

    <%= form_for @category, url: {action: 'create'} do |f| %>
        <%= render 'admin/list_categories/form', form: f %>
        <div class="actions">
            <%= f.submit 'Create Category' %>
        </div>
    <% end %>
</section>