<%= render 'admin/lists/menu', list: @category.list, category_active: :new %>
<section>
    <h1><%= icon_tag 'actions/create-black' %> New Category</h1>

    <%= form_for @category, url: {action: 'create'} do |f| %>
        <%= render 'admin/list_categories/form', form: f, category: @category %>
        <div class="actions">
            <%= f.submit 'Create Category' %>
            <input type="reset" value="Reset Form">
            <%= link_to 'Cancel to List', admin_list_path(@category.list) %>
        </div>
    <% end %>
</section>