<%= render 'admin/lists/menu', list: @category.list, category: @category, category_active: :show %>
<section>
    <h1><%= icon_tag 'actions/show-black' %> Category: <%= @category.name %></h1>
    <p class="big"><%= @category.description %></p>

    <h2><%= icon_tag 'actions/index-black' %> Listings</h2>
    <p>This category currently has <%= @category.listings.size %> listings.</p>
    <div id="admin-listings-collection">
        <% @category.listings.each do |listing| %>
            <%= render 'admin/listings/listing', listing: listing, association: :category %>
        <% end %>
    </div>
</section>