<div class="two-fields">
    <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, placeholder: 'Display name' %>
        <%= form.error_msg :name %>
    </div>
    <div class="field">
        <div class="pseudo-label">&nbsp;</div>
        <%= form.check_box :accepts_custom %>
        <%= form.label :accepts_custom do %><span></span>Accepts custom<% end %>
        <%= form.error_msg :accepts_custom %>
    </div>
</div>
<div class="two-fields">
    <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description, placeholder: 'Short and specific description of the new entity...' %>
        <%= form.error_msg :description %>
    </div>
    <div class="field">
        <%= form.label :urls %>
        <%= form.text_area :urls, placeholder: 'List each url on its own line...' %>
        <%= form.error_msg :urls %>
    </div>
</div>