<%= render 'admin/list_entities/menu', entity: @entity, entity_active: :edit %>
<section>
    <h1><%= icon_tag 'actions/edit-black' %> Edit List Entity</h1>

    <%= form_for @entity, url: {action: 'update'} do |f| %>
        <%= render 'admin/list_entities/form', form: f, entity: @entity %>
        <div class="actions">
            <%= f.submit 'Update Entity' %>
            <input type="reset" value="Reset Form">
            <%= link_to 'Cancel to Entity', admin_list_entity_path(@entity) %>
            <%= link_to 'Cancel to Index', admin_list_entities_path %>
        </div>
    <% end %>
</section>