<%= render 'admin/list_entities/menu', entity_active: :index %>

<section>
    <h1><%= image_tag 'admin/icons/list-black.png' %> Index of List Entities</h1>

    <table>
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Listings</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <% @entities.each do |entity| %>
                <tr>
                    <td class="name"><%= entity.name %></td>
                    <td><%= entity.description %></td>
                    <td><%= entity.listings.count %></td>
                    <td class="actions">
                        <%= link_to image_tag('admin/icons/actions/show-black-sm.png'), admin_list_entity_path(entity) %>
                        <%= link_to image_tag('admin/icons/actions/edit-black-sm.png'), edit_admin_list_entity_path(entity) %>
                        <%= link_to image_tag('admin/icons/actions/destroy-black-sm.png'), '#' %>
                    </td>
                </tr>
            <% end %>
            <tr>
                <td></td><td></td><td></td>
                <td class="actions">
                    <%= link_to new_admin_list_entity_path do %>
                        <%= image_tag('admin/icons/actions/create-black.png') %> New Entity
                    <% end %>
                </td>
            </tr>
        </tbody>
    </table>
</section>
