<%= render 'admin/list_entities/menu', entity: @entity, entity_active: :show %>
<section>
    <h1><%= icon_tag 'actions/show-black' %> List Entity: <%= @entity.name %></h1>
    <p class="big"><%= @entity.description %></p>
    <ul>
        <% @entity.urls.split(/\n/).each do |url| %>
            <li><%= link_to raw(ListEntity::Utils.display_text_for_url(url)), url %></li>
        <% end %>
    </ul>

    <h2><%= icon_tag 'actions/index-black' %> Listings</h2>
    <p>This entity currently has <%= @entity.listings.size %> listings.</p>
    <div id="admin-listings-collection">
        <% @entity.listings.each do |listing| %>
            <%= render 'admin/listings/listing', listing: listing, association: :entity %>
        <% end %>
    </div>
</section>